<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h6 class="alert-heading">
      <i class="fas fa-exclamation-triangle me-2"></i>
      <%= pluralize(resource.errors.count, "error") %> prohibited this account from being saved:
    </h6>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
